<a href="https://colab.research.google.com/github/thomreid11/DAS7000_PORT1/blob/main/DAS7000_port1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Thomas Reid - DAS7000 - PORT1**

Exploratory Data Analysis (EDA) on Manhattan Property Dataset investigating property types and prices within Manhattan, New York

#### **Importing necessary libraries**

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns

#### **Mounting Google Drive to Google Collab and importing dataset**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
drive_path = '/content/drive/MyDrive/Manhattan property dataset csv.csv'

In [ ]:
# Converting csv to df
df = pd.read_csv(drive_path)

In [ ]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASEMENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,376,43,NaN,S1,743 EAST 6 STREET,NaN,...,1.0,1.0,2.0,"2,090","3,680",1940.0,1,S1,0,01/23/2025
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372,19,NaN,C7,"292 EAST 3 STREET, 4B",NaN,...,9.0,1.0,10.0,"2,401","6,920",1920.0,2,C7,0,02/07/2025
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,396,26,NaN,C4,638 EAST 14 STREET,NaN,...,20.0,0.0,20.0,"2,779","10,740",1920.0,2,C4,0,05/01/2025
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,396,27,NaN,C4,640 EAST 14 STREET,NaN,...,20.0,0.0,20.0,"2,831","10,900",1920.0,2,C4,0,05/01/2025
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,400,11,NaN,C4,"510 EAST 5TH STREET, 9",NaN,...,18.0,0.0,18.0,"2,404","6,875",1900.0,2,C4,"280,000",04/29/2025

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18491 entries, 0 to 18490
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         18491 non-null  int64
 1   NEIGHBORHOOD                    18491 non-null  object
 2   BUILDING CLASS CATEGORY         18491 non-null  object
 3   TAX CLASS AT PRESENT            18491 non-null  object
 4   BLOCK                           18491 non-null  int64
 5   LOT                             18491 non-null  int64
 6   EASEMENT                        0 non-null      float64
 7   BUILDING CLASS AT PRESENT       18491 non-null  object
 8   ADDRESS                         18491 non-null  object
 9   APARTMENT NUMBER                8634 non-null   object
 10  ZIP CODE                        18491 non-null  int64
 11  RESIDENTIAL UNITS               9366 non-null   float64
 12  COMMERCIAL UNITS                2320 non-null   float64
 13  TOTAL UNITS                     10158 non-null  float64
 14  LAND SQUARE FEET                1528 non-null   object
 15  GROSS SQUARE FEET               1528 non-null   object
 16  YEAR BUILT                      16555 non-null  float64
 17  TAX CLASS AT TIME OF SALE       18491 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  18491 non-null  object
 19   SALE PRICE                     18491 non-null  object
 20  SALE DATE                       18491 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 3.0+ MB

#### **Data Preprocessing**

In [ ]:
# Making columns neat and uniform
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.title()

In [ ]:
# Dropping irrelevant column
df = df.drop(columns=["Easement"])

In [ ]:
# Correcting the data types
# Changing strings to floats and removing the commas
df['Land_Square_Feet'] = df['Land_Square_Feet'].str.replace(',', '', regex=False).astype(float)
df['Gross_Square_Feet'] = df['Gross_Square_Feet'].str.replace(',', '', regex=False).astype(float)
df['Sale_Price'] = df['Sale_Price'].str.replace(',', '', regex=False).astype(float)

# Changing the remaining data types
df['Sale_Date'] = pd.to_datetime(df['Sale_Date'])
df["Tax_Class_At_Time_Of_Sale"] = df["Tax_Class_At_Time_Of_Sale"].astype("string")
df["Tax_Class_At_Present"] = df["Tax_Class_At_Present"].astype("string")


# Changing 3 columns in one go for efficiency
unit_cols = ["Residential_Units", "Commercial_Units", "Total_Units"]
for col in unit_cols:
    df[col] = df[col].astype("Int64")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18491 entries, 0 to 18490
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Borough                         18491 non-null  int64
 1   Neighborhood                    18491 non-null  object
 2   Building_Class_Category         18491 non-null  object
 3   Tax_Class_At_Present            18491 non-null  string
 4   Block                           18491 non-null  int64
 5   Lot                             18491 non-null  int64
 6   Building_Class_At_Present       18491 non-null  object
 7   Address                         18491 non-null  object
 8   Apartment_Number                8634 non-null   object
 9   Zip_Code                        18491 non-null  int64
 10  Residential_Units               9366 non-null   Int64
 11  Commercial_Units                2320 non-null   Int64
 12  Total_Units                     10158 non-null  Int64
 13  Land_Square_Feet                1528 non-null   float64
 14  Gross_Square_Feet               1528 non-null   float64
 15  Year_Built                      18491 non-null  int64
 16  Tax_Class_At_Time_Of_Sale       18491 non-null  string
 17  Building_Class_At_Time_Of_Sale  18491 non-null  object
 18  Sale_Price                      18491 non-null  float64
 19  Sale_Date                       18491 non-null  datetime64[ns]
dtypes: Int64(3), datetime64[ns](1), float64(3), int64(5), object(6), string(2)
memory usage: 2.9+ MB